######## DELETE THIS LINE AND MAKE SURE TO CHANGE THE FILENAME TO .env BEFORE BUILDING

PROD=False

PORT=8080

LOCAL_DB_USER="root"
LOCAL_DB_PWD="pwd"
LOCAL_DB_HOST="0.0.0.0"
LOCAL_DB_PORT="5432"
LOCAL_DB_DBNAME="iztech_agsm"

DB_URL=""
DB_USER=""
DB_PWD=""
DB_HOST=""
DB_PORT=""
DB_DBNAME=""

JWT_SECRET="JWT_SECRET"
SECRET="SECRET"